body {
    position: relative;
    background-image: url("./mars2.jpg");
    background-color: #222020;
    background-size: contain;
    background-repeat: no-repeat;
    overflow-x: hidden; /* overflow-w e y remove a scrollagem horizontal */
    overflow-y: scroll;
    padding-bottom: 0%;
}

.container {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}

.meusDados{
    position: relative;
    top: -20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    left: -10px;
    text-transform: uppercase;
    color:#00ff00;
    margin: 10px 0 0 10px;
    text-align: right;
}

.logo-top{
    position: relative;
    float: left;
    top: -70px;
}

.fa-space{
    background: #00f5e1;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    width: 150px;
    height: 30px;
    position: relative;
    float: left;
    left: 529px;
    top: 55px;
    z-index: 10;
    font-weight: bolder;
    box-shadow: 12px 5px 5px #000000;
    transition: 0.5s;
    opacity: 0.5;
}
.fa-space:hover{
    opacity: 1;
}

.fa-tech{
    background: #f5b400;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    width: 150px;
    height: 30px;
    position: relative;
    float: left;
    left: 550px;
    top: 55px;
    z-index: 10;
    font-weight: bolder;
    box-shadow: 12px 5px 5px #000000;
    transition: 0.5s;
    opacity: 0.5;
}
.fa-tech:hover{
    opacity: 1;
}

.fa-earth{
    background: #1df500;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    width: 150px;
    height: 30px;
    position: relative;
    float: left;
    left: 573px;
    top: 55px;
    z-index: 10;
    font-weight: bolder;
    box-shadow: 12px 5px 5px #000000;
    transition: 0.5s;
    opacity: 0.5;
}
.fa-earth:hover{
    opacity: 1;
}

.fa-mars{
    background:#000000;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    display: inline;
    width: 150px;
    height: 30px;
    position: relative;
    float: left;
    left: 595px;
    top: 55px;
    z-index: 10;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 12px 5px 5px #000000;
    transition: 0.5s;
    opacity: 0.5;
}
.fa-mars:hover{
    opacity: 1;
}

.page-title {
    position: relative;
    z-index: 10; /* sobrepôs um elemento sobre o outro */
    font-size: 10px;
    font-weight: lighter;
    color: #042379;
    left: 250px;
    max-height: 160px;
    top: 405px;   
}

.page-subtitle {
    position: relative;
    font-size: 9px;
    font-weight:lighter;
    left: 265px;
    color: #042379;
    top: 330px;  
}

.page-logo { /* mackenzie */
    position: relative;
    right: 741px;
    width: 78px;
    top: 380px;
    transform: rotate(-4deg);
    opacity: .9;
}

/* .nasa-1{
    position: relative;
    float: right;
    width: 200px;
    height: 200px;
    top: 450px;
    z-index: 10;
    left: 80px;
} */

.fotos-nasa{
    position: relative;
    float: left;
    width: 390px;
    height: 153px;
    top: 1145px;
    z-index: 50;
    left: -102px;
}
#text-nasa1{
    position: relative;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color:#00ff00;
    font-size: 9px;
    left: -55px;
    z-index: 10;
    top: -10px;
}

.text-nasa01{
    position: relative;
    float: right;
    text-transform: capitalize;
    font-size: 8px;
    top: 580px;
    z-index: 10;
    left: 550px;
    text-align: justify;
}

.ticket-nasa {
    position: relative;
    float: right;
    left: -120px;
    top: 220px;
}   
  
#form-wrapper {
    margin: 0 0 15px;   
}
  
#form-wrapper input {
    position: relative;
    left: 570px;
    top: -60px;
    background-color: transparent;
    border:solid 2px #343636;
    border-radius: 10px;
    width: 220px;
    height: 32px;
    font-size:12px;
}
  
#form-wrapper button {
    position: relative;
    background-color:transparent;
    padding-left:5px;
    font-size:15px;
    text-align: center;
    border:none;
    /* acabamento do botão */
    border:none;
    float:left;
    top: -96px;
    left: 729px;
    height:34px;
    border-radius:0 8px 8px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
}
#form-wrapper button:hover {
    opacity: 0.5;
}

#buscar{
    position: relative;
    left: 500px;
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
}

.video{
    position: relative;
    left: 950px;
    top: 500px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
}

.main-content{
    position: relative;
    top: 43px;
    left: 100px;
    width: 880px;
    height: 190px;     
}

.designer{
    position: relative;
    background-color: #00f5e1;
    top: -270px;
    left: 22px;
    width: 906px;
    height: 590px; 
    opacity: 0.3;
    overflow: hidden;
}

.astro-nasa{
    position: relative;
    top: -230px;
    left: -78px;
    width: 583px;
    height: 423px;
    z-index: 10;
}
h3{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    color:#00ff00;
    font-size: 16px;
    left: -72px;
    top: -245px;
}

.astro-nasa1{
    position: relative;
    left: 629px;
    top: -378px;
    z-index: 10;
}
#text-nasa2{
    position: relative;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color:#00ff00;
    font-size: 9px;
    left: -453px;
    z-index: 10;
    top: -177px;
}

.astro-nasa2{
    position: relative;
    left: 324px;
    top: -63px;
    z-index: 10;
}
#text-nasa3{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color:#00ff00;
    font-size: 9px;
    left: 628px;
    z-index: 10;
    top: -68px;
}

.navegation{
    position: relative;
    font-family:'Courier New', Courier, monospace;
    font-size: 22px;
    color: #ffffff;
    top: -159px;
    left: 500px;
    font-weight: bolder;
    cursor: pointer;
}
.navegation:hover {
    opacity: 0.5;
}

.foot-js{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    top: -790px;
    font-size: 11px;
    color: #ffffff;
    left: 20px;   
}

.Copyright { 
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    left: 20px;
    top: -212px;
	font-size: 12px;  
    margin-bottom: 50px;
    text-align: center;
    z-index: 10;   
    padding: 0;
}

.Copyright-backColor{
    position: relative;
    left: -20px;
    width: 1500px;
    height: 310px;
    background: #000000;
    top: -560px;
    padding: 0;
}

.img1{ /* instagram */
    position: relative;
    top: -792px;
    left: 1090px;  
}

.img2{ /* twitter */
    position: relative;
    top: -794px;
    left: 1100px;  
}

.img3{ /* gitHub */
    position: relative;
    top: -785px;
    left: 1105px;
}

.img4{
    position: relative;
    top: -790px;
    left: 1105px;
}

.img5{
    position: relative;
    top: -790px;
    left: 855px;
}

.menuNav{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    left: 473px;
	font-size: 21px;
	color: #00ff00;   
    top: -1027px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
}

.redesSociais{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    left: 1093px;
	font-size: 11px;
    top: 35px;
    color: #ffffff;
}

.img-footer{
    position: relative;
    left: 1090px;
    top: -1070px;
    padding: 0px;

}
.gotomars-text{
    position: relative;
    top:-600px;
    font-family: 'Courier New', Courier, monospace;
    color: #f5b400;
    font-size: 50px;
} */

@media screen and (min-width: 1000px) and (max-width: 1280px) {
    .body{
        width: 100%;
        height: 100%;
    }
    
    .container{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .page-title{
        position: static;
        float: none;
    }
    
    .page-logo{
        position: static;
        float: none;
    }
    
    .ticket-nasa {
        position: static;
        float: none;
    }  

    .form-wrapper{
        position: static;
        float: none;        
    }

    .form-wrapper input{
       float: none;
       /* width: 100%; */
    }

    .form-wrapper button{
        float: none;
        width: 100%;
    }

    .Copyright{
        position: absolute;

    }
}