body {
    background-image: url("./mars2.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;  
}

.botton1 {
    background: #f5b400;
    width: 150px;
    height: 30px;
    float: right;
    border-radius: 5px;
    position: relative;
    right: 450px;
    top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.botton2 {
    background: #1df500;
    width: 150px;
    height: 30px;
    float: right;
    border-radius: 5px;
    position: relative;
    right: 140px;
    top: 10px;
    cursor: pointer;
    transition: 0.5s;
}
 
.botton3 {
    background: #00f5e1;
    width: 150px;
    height: 30px;
    float: right;
    border-radius: 5px;
    position: relative;
    left: -310px;
    top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.botton4 {
    background: #f50000;
    width: 150px;
    height: 30px;
    float: right;
    border-radius: 5px;
    position: relative;
    left: 320px;
    top: 10px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.5;
}

.container {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}

.fa-instagram{
    position: relative;
    float: left;
    left: 575px;
    top: 1px;
    z-index: 10;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bolder;
   
}

.fa-twitter{
    position: relative;
    float: left;
    left: 653px;
    top: 1px;
    z-index: 10;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bolder;
}

.fa-discord{
    position: relative;
    float: left;
    left: 730px;
    top: 1px;
    z-index: 10;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bolder;
}

.fa-github{
    position: relative;
    float: left;
    left: 820px;
    top: 1px;
    z-index: 10;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bolder;
}

.page-title {
    position: relative;
    z-index: 10; /* sobrepôs um elemento sobre o outro */
    font-size: 10px;
    font-weight: bolder;
    color: #042379;
    left: 200px;
    max-height: 160px;
    top: 350px;   
}

.page-subtitle {
    position: relative;
    font-size: 9px;
    font-weight:lighter;
    left: 450px;
    color: #042379;
    bottom: -293px;  
}

.page-logo {
    position: relative;
    left: 370px;
    width: 170px;
    top: 360px;
}

.ticket-nasa {
    position: relative;
    float: right;
    left: -200px;
    top: 180px;
}   
  
.form-wrapper {
    margin: 0 0 15px;   
}
  
.form-wrapper input {
    position: relative;
    top: 150px;
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
}
  
.form-wrapper button {
    position: relative;
    top: 150px;
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
}
  
.form-wrapper button:hover {
    opacity: 0.5;
}

.Copyright { 
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    left: 350px;
    top: 450px;
	font-size: 15px;
	color: #0f0f0f;   
    margin-bottom: 50px;
    text-align: justify;
}

/* @media screen and (min-width: 1000px) and (max-width: 1280px) {
    .body{
        width: 100%;
        height: 100%;
    }
    
    .container{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .page-title{
        position: static;
        float: none;
    }
    
    .page-logo{
        position: static;
        float: none;
    }
    
    .form-wrapper{
        position: static;
        float: none;        
    }

    .form-wrapper input{
       float: none;
       /* width: 100%; */
    }

    /* .form-wrapper button{
        float: none;
        width: 100%;
    }

    .Copyright{
        position: absolute;

    }
} */ */