body {
    font-family: "Roboto Mono", monospace;
    text-align:center;
    background-image: url("./locadora-de-video.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
   
}
  
.container {
    text-align: center;
    padding: 20px;
}
  
.page-title {
    color: #f1db15;
    margin: 0 0 5px;
    max-height: 160px
}

.page-subtitle {
    color: #e5e4ee;
    margin-top: 30px;
    
}
  
.page-logo {
    width: 200px;

}
    
#listaFilmes img {
    margin: 10px;
    max-height: 250px;
}
  
.form-wrapper {
    margin: 0 0 15px;
   
}
  
.form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
}
  
.form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
}
  
.form-wrapper button:hover {
    opacity: 0.5;
}

.Copyright { 
    float: center;
    /* position: relative; */
    top: 200px;
	font-size: 10px;
	color: #0f0f0f;   
}

@media screen and (min-width: 224px) and (max-width: 484px) {
    .body{
        width: 100%;
        height: 100%;
    }
    
    .container{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .page-title{
        position: static;
        float: none;
    }
    
    .page-logo{
        position: static;
        float: none;
    }
    
    .form-wrapper{
        position: static;
        float: none;        
    }

    .form-wrapper input{
       float: none;
       /* width: 100%; */
    }

    .form-wrapper button{
        float: none;
        width: 100%;
    }

    .Copyright{
        position: absolute;
    }
}